.sapFAvatarColorAccent10 {
  background-color: #8DC63F;
}

.sapFAvatarColorAccent10.sapFAvatarIcon, .sapFAvatarColorAccent10 .sapFAvatarInitialsHolder {
  color: white;
}

.sapMGenericTagSuccess .sapMGenericTagWrap {
  background: 0 0/0.375rem 100% no-repeat linear-gradient(0deg, #8DC63F, #8DC63F);
  background-color: white;
}

.sapMSplitContainerMaster {
  width: 40rem;
}